@{
    ViewBag.Title = "Science";
}

<div class="jumbotron">
    <h2><b>Scientific Works</b></h2>
    <p class="lead">
        In addition to game development, SiChris Productions has also been involved in scientific work, which has
        so far resulted in three publications in peer-reviewed journals. All SiChris publications are available below.
    </p>
    <p class="lead">
        If you are in need of scientific consulting or just have questions concerning my 
        work, don't hesitate to @Html.ActionLink("contact me", "Contact", "Home").
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Journal of Theoretical Biology</h2>
        <p><b>Non-stationary aging dynamics in ant societies</b></p>
        <p>
            The article introduces a model where interacting ants move in a stochastic fashion from one site to a neighboring 
            site on a finite 2D lattice. Depending on the parameters, the dynamics either quickly converges to a stationary 
            state, or may enter a non-stationary regime.
        </p>
        <p>
            <a href="http://arxiv.org/abs/1101.1461"><img src="../Images/arxiv.jpg" border="0" alt="iTunes" width="110" height="40"></a>
    </div>
    <div class="col-md-4">
        <h2>Phys. Rev. E</h2>
        <p><b>Thermal shifts and intermittent linear response of aging systems</b></p>
        <p>
            The second of two articles based on my Masters thesis. This article goes into detail concerning the statistical 
            distribution of the so-called "quakes", which cause sudden changes in the system, between longer periods of stability.
        </p>
        <p>
            <a href="http://arxiv.org/abs/0712.2366"><img src="../Images/arxiv.jpg" border="0" alt="iTunes" width="110" height="40"></a>
    </div>
    <div class="col-md-4">
        <h2>New Journal of Physics</h2>
        <p><b>Linear response subordination to intermittent energy release in off-equilibrium aging dynamics</b></p>
        <p>
            This is the first article based on my Masters thesis work. It describes the basic behavior of an abstract 
            model of a complex system, which can be observed to evolve through sudden intermittent changes, separated 
            by longer periods of stability. Similar behavior can be observed in many real systems, including biological 
            evolution, financial markets and certain magnetic alloys. 
        </p>
        <p>
            <a href="http://arxiv.org/abs/0709.1085"><img src="../Images/arxiv.jpg" border="0" alt="iTunes" width="110" height="40"></a>
    </div>
    <div class="col-md-4">
        <h2>Masters Thesis</h2>
        <p><b>Linear response and intermittency in low-temperature glassy dynamics</b></p>
        <p>
            My masters thesis dealt with an abstract model of a class of complex systems, and lead to the publication of 
            two articles in peer-reviewed journals. The thesis is written in Danish, but there is a 
            one page English abstract in the introduction. For people who read the language, the thesis is probably a lot 
            easier to understand than the two published articles. The introduction is written to be understandable by laymen.
        </p>
        <p>
        <a class="btn btn-default" href="../Content/thesis.pdf">Get PDF &raquo;</a></p>
    </div>
</div>

