
@{
    ViewBag.Title = "Fiction";
}

<div class="row">
    <div class="col-md-4">
        <h2>Lightspeed</h2>
        <p><img class="rounded" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiNj53rPnaODH3tMisyqVSvNoL8vYze9FNY-gxjZ-rGW9D28wQUu9oTWD_p3-75vFHpR7waDsP-sHNEnhl-TUlVAqh28utUa9Q-rWHvIWpO-koCK60IxuveIE61gWDRc2189MMey0rtuzPlUH7yzC68SGdo6dkD5nuZO9HslR20TMizGPAfAA/s200/bluepepper.jpg" alt="Watch" width="175" height="175"></p>
        <p><b><em>"Green / I am permitted to move"</em></b></p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://bluepepper.blogspot.com/2022/11/new-poetry-by-simon-christiansen.html">Read in Bluepepper &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>The Great Auk</h2>
        <p>
            <img class="rounded" src="https://2.bp.blogspot.com/-wL0HtkqwVdI/VWiULlSF9HI/AAAAAAAAAAQ/UwdFTVuBO-I/s1600/plum%2Btree.jpg" alt="Cat" width="175" height="175">
        </p>
        <p><b><em>"The penguin but your shadow on the wall"</em></b></p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://theplumtreetavern.blogspot.com/2022/11/the-great-auk.html">Read in Plum Tree Tavern &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Three Phenomenal Flutterings</h2>
        <p>
            <img class="rounded" src="https://static.wixstatic.com/media/9e1f91_d374d29dfbaa4022a4edc6ab156e1215~mv2.png/v1/fill/w_282,h_60,al_c,q_85,enc_auto/CR%20logo_PNG.png" alt="Cat" width="175" height="175">
        </p>
        <p><b><em>"Swimming through a sea of impressions / In a city of quiet drones"</em></b></p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://www.compassroseliterary.com/three-phenomenal-flutterings">Read in Compass Rose Literary &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Polis Cum Laude</h2>
        <p>
            <img class="rounded" src="https://www.neologismpoetry.com/wp-content/uploads/2017/06/titlebannerbrighter.png " alt="Capacity" width="175" height="175">
        </p>
        <p><b><em>"The city grows like moss on the forest floor."</em></b></p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://www.neologismpoetry.com/">Coming in Neologism Poetry &raquo;</a>
        </p>
    </div>
</div>