
@{
    ViewBag.Title = "Fiction";
}

<div class="row">
    <div class="col-md-4">
        <h2>Simulacra</h2>
        <p>
            <img src="../Images/AlarmClock.jpg" alt="Cat" width="175" height="175">
        </p>
        <p>
            <b>
                <em>
                    "The alarm blared. Tim Jorgensen opened his eyes and sighed. The clock was yellow. It should have been red!"
                </em>
            </b>
        </p>
        <p>
            <b>Living in a buggy computer simulation is not all it's is cracked up to be.</b>
        </p>
        <p>
            <a class="btn btn-default" href="https://www.allegoryezine.com/">Coming in Allegory &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>All Cats Are Grey</h2>
        <p>
            <img src="../Images/Cat.png" alt="Cat" width="175" height="175">
        </p>
        <p>
            <b>Artwork by “Jacey”</b>
        </p>
        <p><b>What if you opened the box containing Schrödinger's cat, and it was empty?</b></p>
        <p>
            <a class="btn btn-default" href="https://www.nature.com/articles/d41586-020-00853-4">Read in Nature Futures &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>The Capacity to Serve</h2>
        <p>
            <img src="../Images/Capacity.jpg" alt="Capacity" width="175" height="175">
        </p>
        <p><b>@*What if penguins could be improved!*@</b></p>
        <p>
            <b>
                <em>
                    "If Poe were still around today, and had a devilish sense of humour and a thing for penguins, this is the story he'd write." -
                </em>
            </b>
            <b>
                Ranylt Richildis.
                Lackington's Magazine.
            </b>
        </p>
        <p>
            <a class="btn btn-default" href="https://lackingtons.com/2020/05/01/the-capacity-to-serve-by-simon-christiansen/">Read in Lackington's &raquo;</a>
        </p>
    </div>
</div>
    <div class="row">
        <div class="col-md-4">
            <h2>Keshi Yena</h2>
            <p>
                <img src="../Images/KeshiYena.jpg" alt="KeshiYena" width="175" height="175">
            </p>
            <p><b>A story about cheese, queer love, and rocketships.</b></p>
            <p>
                @*<a class="btn btn-default" href="https://www.eldritchlake.com/Magazine/">Read in Eldritch Lake Magazine &raquo;</a>*@
                <a class="btn btn-default" href="../Content/EldritchLake.pdf" target="_blank">Read in Eldritch Lake Magazine &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Trapped in Time</h2>
            <p><img src="../Images/Watch.jpg" alt="Watch" width="175" height="175"></p>
            <p><b>"A Science Fiction adventure where YOU are the hero!"</b></p>
            <p>
                <b>Nominee, Best Novelette - </b><a href='http://www.ommadawn.dk/design2.php?sideid=1515'>2013 Niels Klim Awards</a>
            </p>
            <p>
                <strong>Winner, Best Implementation; Nominee, Best Use of Innovation - </strong><a href='https://ifdb.tads.org/viewcomp?id=6on8cn4isv3r4gwj'>2013 XYZZY Awards</a>
            </p>
            <p>
                <a href="http://ifdb.tads.org/viewgame?id=juj5b61griyoswn2"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a>
                <a class="btn btn-default" href="https://www.sciencefiction.dk/udgivelser/bog/naer-og-fjern">Buy (Danish) &raquo;</a>
                <a class="btn btn-default" href="@Url.Action("TrappedInTime", "Games")">Learn more &raquo;</a>
            </p>
        </div>
    </div>