
@{
    ViewBag.Title = "Fiction";
}

<div class="row">
    <div class="col-md-4">
        <h3>
            These Eternal Works so Wondrous
        </h3>
        <p>
            <img class="rounded" src="../Images/Wondrous.jpg" alt="Wondrous" width="175" height="175">
        </p>
        <p>
            <b>
                Copenhagen, 1802.
                When Niels Heidenreich stole the two golden horns from the Royal Chamber of Arts in Copenhagen, he had no idea what he was getting into.
            </b>
        </p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://books2read.com/u/boBgLp">Purchase &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>
            Anaximancy
        </h3>
        <p>
            <img class="rounded" src="../Images/Anaximancy.jpg" alt="Anaximancy" width="175" height="175">
        </p>
        <p>
            <b>"We choose to go THROUGH the moon!"</b>
        </p>
        <p>
            What if the Greek philosopher Anaximander had been right about everything?
        </p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://books2read.com/u/bzBAoq">Purchase &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>
            Power Armor for Poltergeists!
        </h3>
        <p>
            <img class="rounded" src="../Images/PowerArmor.jpg" alt="Penguin" width="175" height="175">
        </p>
        <p>
            <b>Copenhagen, the future. When Kristian Vinther started his postdoc in a robotics lab, he didn’t expect the doctor in charge to be building Power Armor for Poltergeists!</b>
        </p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://www.amazon.com/dp/B0CHBJ7X7W"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" border="0" alt="IFDB" width="110" height="40"></a>
        </p>
    </div>
    @*<div class="col-md-4">
            <h3>These Eternal Works so Wondrous</h3>
            <p>
                <img class="rounded" src="https://www.medieval.eu/wp-content/uploads/Painting-of-the-horns-from-the-beginning-of-the-18th-century-%C2%A9-National-Museum-of-Denmark-Arnold-Mikkelsen-CCBYSA-475x552.jpg" alt="Gold Horns" width="175" height="175">
            </p>
            <p>
                <b>
                    <em>
                        "Upon the pages / Of the olden ages..."
                    </em>
                </b>
            </p>
            <p>
                <b>What happened to the Golden Horns of Gallehus?</b>
            </p>
            <p>
                <a class="btn btn-default" target="_blank" href="https://synchchaos.com/story-from-simon-christiansen/">Read in Synchronized Chaos &raquo;</a>
            </p>
        </div>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h3>
            The Capacity to Serve and Other Stories
        </h3>
        <p>
            <img class="rounded" src="../Images/CapacityTitle.jpg" alt="Penguin" width="175" height="175">
        </p>
        <p>
            <b>What if penguins, but tentacles? Schrödinger's cat escapes from the box. A clock is yellow when it should have been red. Is cheese better than women? A chicken sexer deals with the implications of his work.</b>
        </p>
        @*<p>
                <a class="btn btn-default" target="_blank" href="https://www.amazon.com/dp/B0C9TRVQ4Q">Buy at Amazon &raquo;</a>
            </p>*@
        <p>
            <a class="btn btn-default" target="_blank" href="https://www.amazon.com/dp/B0C9TRVQ4Q"><img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" border="0" alt="IFDB" width="110" height="40"></a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Every Quiver of Each of Them</h3>
        <p>
            <img class="rounded" src="https://amazingstories.com/wp-content/uploads/2013/04/for-fans-ad-medium.png" alt="Amazing Stories" width="175" height="175">
        </p>
        <p>
            <b>
                <em>
                    "'I am going to call it MORIARTY,'' proclaimed Valerija, her auburn hair glowing in the multicolored light."
                </em>
            </b>
        </p>
        <p>
            <b>What if <i>you</i> had to choose who should be left behind?</b>
        </p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://amazingstories.com/2023/06/every-quiver-of-each-of-them-by-simon-christiansen-free-story/">Read in Amazing Stories &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>The Chicken Sexer</h3>
        <p><img class="rounded" src="https://horrorsleazetrashcom.files.wordpress.com/2018/09/hst_pink.png" alt="HST" width="175" height="175"></p>
        <p><b><em>"My job is to sex the chicken."</em></b></p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://horrorsleazetrash.com/2023/04/20/simon-christiansen/">Read in Horror Sleaze Trash &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Journey to Europe</h3>
        <p><img class="rounded" src="../Images/JourneyCover.jfif" alt="Watch" width="175" height="175"></p>
        <p><b><em>"An Adventure Where YOU Are the Victim!"</em></b></p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://www.reflex.press/stories/journey-to-europe-by-simon-christiansen/">Read in Reflex Press &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Simulacra</h3>
        <p>
            <img class="rounded" src="../Images/Clock.png" alt="Clock" width="175" height="175">
        </p>
        <p>
            <b>
                <em>
                    "The alarm blared. Tim Jorgensen opened his eyes and sighed. The clock was yellow. It should have been red!"
                </em>
            </b>
        </p>
        <p>
            <b>Living in a buggy computer simulation is not all it's cracked up to be.</b>
        </p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://www.metastellar.com/fiction/simulacra/">Read in Metastellar &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>All Cats Are Grey</h3>
        <p>
            <img class="rounded" src="../Images/Cat.png" alt="Cat" width="175" height="175">
        </p>
        <p>
            <b>Artwork by “Jacey”</b>
        </p>
        <p><b>What if you opened the box containing Schrödinger's cat, and it was empty?</b></p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://www.nature.com/articles/d41586-020-00853-4">Read in Nature Futures &raquo;</a>
            @*<a class="btn btn-default" target="_blank" href="../Content/Futures.pdf">PDF &raquo;</a>*@
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>The Capacity to Serve</h3>
        <p>
            <img class="rounded" src="../Images/Capacity.jpg" alt="Capacity" width="175" height="175">
        </p>
        <p><b>@*What if penguins could be improved!*@</b></p>
        <p>
            <b>
                <em>
                    "If Poe were still around today, and had a devilish sense of humour and a thing for penguins, this is the story he'd write." -
                </em>
            </b>
            <b>
                Ranylt Richildis.
                Lackington's Magazine.
            </b>
        </p>
        <p>
            <a class="btn btn-default" target="_blank" href="https://lackingtons.com/2020/05/01/the-capacity-to-serve-by-simon-christiansen/">Read in Lackington's &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Keshi Yena</h3>
        <p>
            <img class="rounded" src="../Images/KeshiYena.jpg" alt="KeshiYena" width="175" height="175">
        </p>
        <p><b>A story about cheese, queer love, and rocketships.</b></p>
        <p>
            @*<a class="btn btn-default" href="https://www.eldritchlake.com/Magazine/">Read in Eldritch Lake Magazine &raquo;</a>*@
            <a class="btn btn-default" target="_blank" href="../Content/EldritchLake.pdf">Read in Eldritch Lake Magazine &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Trapped in Time</h3>
        <p><img class="rounded" src="../Images/Watch.jpg" alt="Watch" width="175" height="175"></p>
        <p><b><em>"A Science Fiction adventure where YOU are the hero!"</em></b></p>
        <p>
            <b>Nominee, Best Novelette - </b><a href='http://www.ommadawn.dk/design2.php?sideid=1515'>2013 Niels Klim Awards</a>
        </p>
        <p>
            <strong>Winner, Best Implementation; Nominee, Best Use of Innovation - </strong><a href='https://ifdb.tads.org/viewcomp?id=6on8cn4isv3r4gwj'>2013 XYZZY Awards</a>
        </p>
        <p>
            <a target="_blank" href="http://ifdb.tads.org/viewgame?id=juj5b61griyoswn2"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a>
            <a class="btn btn-default" target="_blank" href="https://www.sciencefiction.dk/udgivelser/bog/naer-og-fjern">Buy (Danish) &raquo;</a>
            <a class="btn btn-default" target="_blank" href="@Url.Action("TrappedInTime", "Games")">Learn more &raquo;</a>
        </p>
    </div>
</div>