@{
  ViewBag.Title = "AlethiCorp";
}

<h2>AlethiCorp</h2>

<img src="../Images/AlethiCorp.png" alt="Cover Art" width="300" height="300" />

<p><b><em>"This simulation of a corporate training and remote working website is so real it hurts, from the obtuse, jargon-jangling training 
  exercises to the awkward inter-office social event invitations. The twist is you work as a snitch, surveilling and rumbling (probably) harmless 
  citizens for supposed revolutionary behavior. Can you do the right thing, or will you just nod, smile, and volunteer to bring a spatula to the 
  office potluck?" - </em></b><a href="http://www.theguardian.com/technology/2014/oct/22/interactive-fiction-awards-games">The Guardian</a></p>
<p>
  <b>
    "Do you have what it takes to be an Associate Information Management Consultant with one of the world's largest information management companies? 
    Can you leverage synergies with the best to operationalize our global market traction? 
    If you were a bear, would you be an American Black Bear or a Siberian Brown bear? If the answer is Yes, apply today!"
  </b>
</p>

<p>
  AlethiCorp simulates the experience of working for a surveillance corporation somewhere in the future.
  Will you focus on your career or try to fight the system?
  The game took 4th place out of 42 in the 2014 <a href="http://ifcomp.org/comp/2014">Interactive Fiction Competition</a>.
</p>

<p>
  The game is an online-only ARG-like web game and can be played for free at <a href="www.alethicorp.com">www.alethicorp.com</a>. 
  To play the game, register an account and apply for a position with the company. 
  Once you have logged in, the state of the game can be reset at any time by navigating to 
  <a href="www.alethicorp.com/Internal/Reset">www.alethicorp.com/Internal/Reset</a>, or 
  <a href="www.alethicorp.com/Internal/ResetAll">www.alethicorp.com/Internal/ResetAll</a>
  The former will keep your employment status, while the latter will require you to reapply for the position.
</p>

<p>
  The file you can download below is a walkthrough, containing detailed instructions on how to reach all the endings in the game, while 
  seeing most of the content along the way. It is available for free, but please consider making a donation if you enjoyed the game.
</p>

<p><b>Features:</b></p>
<ul>
  <li>Your favorite bear</li>
  <li>Model trains</li>
  <li>Synergy</li>
</ul>

<iframe src="//itch.io/embed/16329" width="552" height="167" frameborder="0"></iframe>

<p>
  <a href="http://ifdb.tads.org/viewgame?id=ixlz4gj9cag89mtj"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a>
  <a href="http://simonchris.itch.io/alethicorp"><img src="../Images/Itch.png" border="0" alt="IFDB" width="110" height="40"></a>
  <a class="btn btn-default" href="http://www.alethicorp.com">Play game &raquo;</a>
</p>
<details>
  <summary><b>Behind the scenes</b></summary>
  <p>
    The whole thing started when I was doing a tutorial on the ASP.NET MVC web framework, and I thought to
    myself: "This database tutorial program is boring. I'll jazz it up by making it a game where you manage
    a database, and a simulated boss comments on your database updates!"
  </p>
  <p>
    Two years later, AlethiCorp was born. The original design was way more ambitious than the final game: The game was originally
    supposed to cover an entire <i>career</i> in the fictitious company, with RPG-style career advancement based on the career systems
    used by real-world consultancy firms.
  </p>
  <p>
    Unfortunately, writing all the content took way longer than I had anticipated, so I kept cutting back on the ambitions, until
    the final game ended up covering only a single work-week. This lack of content also affected the the gameplay. Originally, the
    player was supposed to be able to perform full-text searches in the database, and gameplay would revolve around locating
    the necessary pieces of data needed to make progress. Due to the low amount of reports in the database, I eventually decided
    to just show them all and instead task the player with deciding what data is important.
  </p>
  <p>
    Despite all the cutbacks, I think the game turned out pretty well. It went on to take fourth place in
    <a href="http://www.ifcomp.org/comp14">The 2014 Interactive Fiction Competition</a> and was nominated for
    the <a href="http://xyzzyawards.org/?p=409">Xyzzy Award</a> for Best Use of Innovation, later that year.
  </p>
  <p>
    The full source code of the game has since been made available and can be found 
    on <a href="https://github.com/SimonChris/AlethiCorp">GitHub</a>.
  </p>
</details>



