@{
  ViewBag.Title = "Death off the Cuff";
}

<h2>
  Death off the Cuff
  @*<a href="https://itunes.apple.com/us/app/death-off-the-cuff/id788712929"><img src="../Images/itunes.png" border="0" alt="iTunes" width="110" height="40"></a>*@
  <a href="https://play.google.com/store/apps/details?id=antiquarian.death"><img src="../Images/googleplay.png" border="0" alt="Google" width="110" height="40"></a>
  <a href="http://www.amazon.com/Simon-Christiansen-Death-off-Cuff/dp/B00EAYRBWW/"><img src="../Images/Amazon.png" border="0" alt="Amazon" width="110" height="40"></a>
</h2>

<img src="../Images/Cuff.png" alt="Cover Art" width="300" height="300" />

<p><b><em>"This app has plenty of charm: a text-adventure murder-mystery inspired by Hercule Poirot." - </em></b><a href="http://www.theguardian.com/technology/appsblog/2013/aug/09/best-android-apps-sine-mora-wuaki">The Guardian</a></p>
<p><b><em>"This is a great text-based puzzle game. It’s an interesting story with twists and turns that hold your attention." - </em></b><a href="http://appadvice.com/review/quirky-app-of-the-day-solve-the-case-in-death-off-the-cuff">AppAdvice</a></p>
<p><b><em>"Playing the game feels like you are reading a crime novel which you are also simultaneously writing." - </em></b><a href="http://theapplegoogle.com/2014/02/death-off-the-cuff-detective-murderer/">TheAppleGoogle</a></p>
<p>
    <strong>Winner, Best Individual PC - </strong><a href='https://ifdb.tads.org/viewcomp?id=fllbmrlzgj09cbfk'>2010 XYZZY Awards</a>
</p>

<p>
  <b>
    "They all stare at you expectantly, like children waiting to be told a bedtime story. Who who can blame them? You are, after
    all, Antoine Saint Germain, the great French Detective. No criminal has ever been a match for you, and everybody is looking
    forward to a description of your brilliant deductions. There is just one small problem. One tiny detail that makes it different
    this time. A mere trifle, really. This time you have no idea who did it."
  </b>
</p>

<p>
  Inspired by Agatha Christie's Hercule Poirot stories, "Death off the Cuff" is a short Interactive Fiction
  (Text Adventure) game, in which you must bluff your way through the traditional revelatory monologue at
  the end of a crime story. Can you make the murderer reveal him- or herself, without letting anyone know
  that you hadn't already solved the case? Type in the topics you want to talk about and watch as the game
  generates your own unique detective monologue.
</p>

<p><b>Features:</b></p>
<ul>
  <li>A complex crime plot to solve, inspired by Agatha Christie's Hercule Poirot stories</li>
  <li>Conversation based interactive fiction gameplay</li>
  <li>Colorful characters and illustrations</li>
</ul>

<p>
  @*<a href="https://itunes.apple.com/us/app/death-off-the-cuff/id788712929"><img src="../Images/itunes.png" border="0" alt="iTunes" width="110" height="40"></a>*@
  <a href="https://play.google.com/store/apps/details?id=antiquarian.death"><img src="../Images/googleplay.png" border="0" alt="Google" width="110" height="40"></a>
  <a href="http://www.amazon.com/Simon-Christiansen-Death-off-Cuff/dp/B00EAYRBWW/"><img src="../Images/Amazon.png" border="0" alt="Amazon" width="110" height="40"></a>
  <a href="http://ifdb.tads.org/viewgame?id=hqjjswyesj1gjm7v"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a>
  <a href="http://simonchris.itch.io/death-off-the-cuff"><img src="../Images/Itch.png" border="0" alt="IFDB" width="110" height="40"></a>
</p>
<iframe src="//itch.io/embed/16115" width="552" height="167" frameborder="0"></iframe>
<details>
  <summary><b>Behind the scenes</b></summary>
  <p>
    Death off the Cuff was originally based on an idea I had for designing a conversation system where the
    topics would be limited to objects in the environment, thereby fixing the usual "guess-the-topic" problem
    where the player has to ask about every conceivable topic, until he encounters one the game recognizes.
  </p>
  <p>
    For this reason, the competition release only allowed you to talk about visible objects and people.
    However, this was widely considered a design flaw, so the current release has abandoned the original
    idea and now allows you to talk about abstract topics, such as the murder victim, the time of death, and
    the alibis and motives of the suspects.
  </p>
  <p>
    The game went on to take fifth place in
    <a href="http://www.ifcomp.org/comp10">The Interactive FictionCompetition 2010</a>, and later won
    the <a href="http://www.xyzzyawards.org">Xyzzy Award</a> for Best
    Individual PC. It has since then been significantly improved, with more things to do, colorful
    illustrations, and application interfaces for iOS and Android.
  </p>
</details>



