@{
  ViewBag.Title = "Grief";
}

<h2>Grief</h2>

<p><img src="../Images/Heart.png" alt="Heart" width="200" height="200"></p>

<p><b>It is Thomas's first day at school. What could possibly go wrong?</b></p>

<p>
  "Grief" is a short experimental game, in which you are trying to take your son to school, and safely back home again.
  It took sixteenth place in  <a href="http://www.ifcomp.org/comp08">The Interactive Fiction Competition 2008</a>.
</p>

<p>
  I was attempting to create a short original artsy game, but it didn't really work in the end.
  The game got mostly scathing reviews, while only a minority of reviewers found it intriguing and original.
  Even though the game doesn't quite work, it does have a pretty unique structure, which might be of interest to some people.
  It only takes about 15 minutes to complete the game, so it can't hurt to give it a try.
</p>

<p>It can be played online at the Interactive Fiction Database.</p>

<p><a href="http://ifdb.tads.org/viewgame?id=18cypk9amp4ii8o1"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a></p>
<details>
  <summary><b>Behind the scenes &raquo;</b></summary>
  <p>While <strong>Grief</strong> was a not a very popular game, it did have a few genuine fans. After the competition, one of them interviewed me for his blog. That blog has long since disappeared from the internet, and I have not managed to get in touch with the person in question. I figured I might as well put up the interview here, so people can learn what the hell I was thinking when I wrote the game.</p>

  <p><strong>How did you come up with the idea for Grief?</strong></p>

  <p>
    I first came up with the idea for "Grief" after playing "Slouching towards Bedlam" several years ago.
    In "Bedlam", if you haven't played it, saving and restoring the game is actually an in-game action performed
    by the main character, who is capable of travelling through time. This gave me the idea for a game that
    would take place in a flashback where saving and restoring would instead be interpreted as the main character
    thinking back on what he/she could have done differently.
  </p>

  <p>
    My other main inspiration was Adam Cadres "9:05". Like "9:05" i wanted the game to have a twist that couldn't possible
    work in any other medium. In this, at least, i think i succeeded. Originally, "Grief" was supposed to be about the same
    length as "9:05", an ultra short gimmick game that would make people go "Hmm. Neat twist" at the end. There would be only
    three locations, Home, School and Work, and playing through all the endings would take about 15 minutes.
  </p>

  <p>
    The game ended up becoming quite a lot bigger than that, but it never got particularly deep. The final version was so much deeper
    than what i originally had in mind that i was blind to the fact that it was still incredibly shallow. I think that's part of the
    reason why it didn't quite work. Even the people who liked the game thought i should have fleshed it out more.
  </p>

  <p><strong>How do you feel about people's reactions to Grief?</strong></p>

  <p>
    Well, i was dissappointed that "Grief" was so widely disliked. I had hoped people would at least consider it an interesting
    experiment with the medium if nothing else. On the other hand, the minority who did like it liked it a lot, several listing
    it as one of their favorites of the competition. I kinda prefer this kind of response to the one i got with my last
    game, "Internal Vigilance", which was considered average by pretty much everyone. I much prefer having a few people really
    like my game rather than having everyone be indifferent towards it. It feels less like a wasted effort that way.
  </p>

  <p><strong>Is there anything you would do differently?</strong></p>

  <p>
    I should probably have spent more time on the game, especially on the writing. My testers did tell me that i needed to flesh things
    out, but i naively assumed that implementing a few more scenery items would take care of that. If i had taken the time for another
    round or two of the testing i would probably have discovered that i was wrong. But then i would have missed the deadline. Maybe i
    should have released it in the Spring Thing instead. Anyway, if i write another game i am not going to release it until i have spent
    at least as much time testing it as i did writing it in the first place. If that means i have to wait another year to enter the comp'
    then so be it.
  </p>

  <p><strong>Were there any other endings planned?</strong></p>

  <p>Nothing in specific, no. I did plan to have a greater number of endings, but i couldn't think of any more in the end.</p>

  <p><strong>Will you enter the IF competition next year?</strong></p>

  <p>
    Maybe. I am certainly going to enter the comp again at some time, but i can't say whether i will make it in time for next year.
    As i said earlier, my next game will not be released until i have tested the hell out of it, deadlines be damned.
  </p>

  <p>
    <strong>
      I was contacted by the author of Violet, he is planning on doing an after-competition version of his game, to fix problems
      and such. Have you thought of doing the same?
    </strong>
  </p>

  <p>
    Probably not. If "Grief" had been full of spelling mistakes and implementation issues i would release a new version as soon as
    possible, but even the people who hated the game thought the implementation was solid. The problems of the game can really only
    be fixed by rewriting the whole thing from scratch, in which case it would basically be an entirely new game.
  </p>
</details>