@{
    ViewBag.Title = "PataNoir";
}

<h2>
    PataNoir
    <a href="http://store.steampowered.com/app/449150"><img src="../Images/steam-button.png" border="0" alt="Steam" width="110" height="40"></a>
    @*<a href="https://itunes.apple.com/us/app/patanoir/id987561337"><img src="../Images/itunes.png" border="0" alt="iTunes" width="110" height="40"></a>*@
    @*<a href="https://play.google.com/store/apps/details?id=sichris.patanoir"><img src="../Images/googleplay.png" border="0" alt="Google" width="110" height="40"></a>
    <a href="http://www.amazon.com/Simon-Christiansen-PataNoir/dp/B0153OY5K8/"><img src="../Images/Amazon.png" border="0" alt="Google" width="110" height="40"></a>*@
    <a href="http://ifdb.tads.org/viewgame?id=si9s1jktywxj5vdk"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a>
    <a href="http://simonchris.itch.io/patanoir"><img src="../Images/Itch.png" border="0" alt="itch.io" width="110" height="40"></a>
    @*<a class="btn btn-default" href="https://www.dropbox.com/s/cm9d339ne3eotqc/PataNoir.torrent?dl=1" width="110" height="40">Torrent download &raquo;</a>*@
</h2>
<h3>Screenshots (PC)</h3>
<p>
    <img src="../Images/PataNoir1.png" alt="Detective" width="400" height="225"
         onmouseover="this.width = 700; this.height = 395" onmouseleave="this.width = 400; this.height = 225" />
    <img src="../Images/PataNoir2.png" alt="Detective" width="400" height="225"
         onmouseover="this.width = 700; this.height = 395" onmouseleave="this.width = 400; this.height = 225" />
</p>
<p>
    <img src="../Images/PataNoir3.png" alt="Detective" width="400" height="225"
         onmouseover="this.width = 700; this.height = 395" onmouseleave="this.width = 400; this.height = 225" />
    <img src="../Images/PataNoir4.png" alt="Detective" width="400" height="225"
         onmouseover="this.width = 700; this.height = 395" onmouseleave="this.width = 400; this.height = 225" />
</p>
<p>
    <img src="../Images/PataNoir5.png" alt="Detective" width="400" height="225"
         onmouseover="this.width = 700; this.height = 395" onmouseleave="this.width = 400; this.height = 225" />
</p>
<a href="../Images/PataNoirScreenshots.zip">High-res screenshots in a .zip file (42.7 MB)</a>

<h3>Videos</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/0_jJRnDWMWg" frameborder="0" allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Pc1iKpSO-gY" frameborder="0" allowfullscreen></iframe>
@*<p><a href="http://www.cdbaby.com/cd/williamsteffey10">Purchase the single here</a></p>*@

<h3>Press</h3>
<p><b><em>"For those who love language, PataNoir is like a breath of fresh air...a reminder of the beauty of a complex sentence and the power of carefully chosen words." - </em></b><a href="https://www.justadventure.com/2016/08/03/patanoir-review/">JustAdventure</a></p>
<p><b><em>"Two old, fantastic forms of narrative combine to form something truly unique in PataNoir." - </em></b><a href="https://web.archive.org/web/20210927032125/https://www.gamezebo.com/2015/09/10/10-new-iphone-and-ipad-games-star-wars-uprising/">Gamezebo</a></p>
<p><b><em>"I don’t recall any other game that does anything quite like this." - </em></b><a href="http://emshort.wordpress.com/2011/10/03/if-comp-2011-patanoir-by-simon-christiansen/">Emily Short</a></p>
<p><b><em>"Like words? Play with simile and metaphor in this unusual mystery app." - </em></b><a href="http://boingboing.net/2015/09/09/like-words-play-with-simile-a.html">Boing Boing</a></p>
<p><b><em>"PataNoir is strange, unusual, at times frustrating, but creates an amazing surreal landscape in such a short time." - </em></b><a href="https://web.archive.org/web/20210420033815/https://opnoobs.com/archived/reviews/adventure/patanoir">OPNoobs</a></p>
<p><b><em>"In the Internet age, any game which helps cement the curmudgeonly distinction between “literally” and “emphatically” warms my heart." - </em></b><a href="https://web.archive.org/web/20151112190116/https://www.pockettactics.com/reviews/review-patanoir/">Pocket Tactics</a></p>
<p><b><em>"...a nigh on unmissable adventure that's simultaneously a perfect entry to the world of text-based gaming and refreshingly different to satisfy the most hardened of genre veterans." - </em></b><a href="https://web.archive.org/web/20201108093041/https://indiegamesplus.com/2015/10/play_with_the_mysterious_surre">IndieGames.com</a></p>
<p>
    <strong>Winner, Best Puzzles - </strong><a href='https://ifdb.tads.org/viewcomp?id=hdr9mj54fidb7589'>2011 XYZZY Awards</a>
</p>

<h3>Description</h3>
<p>
    <b>
        "The Baron's daughter is missing, and you are the man to find her. No problem.
        With your inexhaustible arsenal of hard-boiled similes, there is nothing you can't handle."
    </b>
</p>

<p>
    PataNoir is a homage to the classic stories of hard-boiled private investigators with a knack
    for describing everything with complex similes and metaphors. In PataNoir, you solve problems
    by manipulating the hard-boiled metaphors used by the main character to make sense of the world in which he lives.
</p>

<p>
    <b>Features:</b>
</p>
<ul>
    <li>An interactive noir mystery to experience and solve</li>
    <li>Innovative interactive fiction gameplay in which the metaphors you live by become tools to solve the mystery</li>
    <li>Atmospheric illustrations by Lauri Ahonen and Tom Siddell</li>
    <li>Original theme song by postmodern rock musician William Steffey</li>
</ul>

<p>
    <a href="http://store.steampowered.com/app/449150"><img src="../Images/steam-button.png" border="0" alt="Steam" width="110" height="40"></a>
    @*<a href="https://itunes.apple.com/us/app/patanoir/id987561337"><img src="../Images/itunes.png" border="0" alt="iTunes" width="110" height="40"></a>*@
    @*<a href="https://play.google.com/store/apps/details?id=sichris.patanoir"><img src="../Images/googleplay.png" border="0" alt="Google" width="110" height="40"></a>
    <a href="http://www.amazon.com/Simon-Christiansen-PataNoir/dp/B0153OY5K8/"><img src="../Images/Amazon.png" border="0" alt="Google" width="110" height="40"></a>*@
    <a href="http://ifdb.tads.org/viewgame?id=si9s1jktywxj5vdk"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a>
    <a href="http://simonchris.itch.io/patanoir"><img src="../Images/Itch.png" border="0" alt="itch.io" width="110" height="40"></a>
    @*<a class="btn btn-default" href="https://www.dropbox.com/s/cm9d339ne3eotqc/PataNoir.torrent?dl=1" width="110" height="40">Torrent download &raquo;</a>*@
</p>
<details>
    <summary><b>Behind the scenes &raquo;</b></summary>
    <p>
        The idea for PataNoir came to me after learning about Alfred Jarry's
        <a href="http://en.wikipedia.org/wiki/%27Pataphysics">pataphysics</a>, and
        the related concept of the <a href="http://www.pataphor.com/">pataphor</a> &#8212 a metaphor
        that becomes reality. I had long been wanting to make a noir game where hard-boiled metaphors
        would somehow be an essential part of the gameplay, but I couldn't quite figure out how to pull
        this off. I considered having the player select metaphors from a menu, which would then affect how
        the scene played out, but it just didn't go anywhere.
    </p>
    <p>
        The pataphor provided an obvious gameplay mechanic. Manipulating objects is, after all, an essential
        part of most adventure games, so if a metaphor became an object, it could be manipulated like any other.
        Thus, PataNoir was born.
    </p>
    <p>
        The original version of PataNoir took fifth place
        in the 2011 <a href="http://www.ifcomp.org/comp11/">Interactive Fiction Competition</a>, and was later awarded
        the <a href="http://www.xyzzyawards.org">Xyzzy Award</a> for Best Puzzles. It has also been featured
        in <a href="http://pataphormagazine.com">Pataphor Magazine</a>.
    </p>
    <p>The commercial release has been significantly improved and expanded with professional art and a theme song.</p>
</details>