@{
  ViewBag.Title = "PataNoir";
}

<h2>PataNoir</h2>

<img src="../Images/PataNoirRounded.png" alt="Detective" width="400" height="300" />

<p><b><em>"I don’t recall any other game that does anything quite like this." - </em></b><a href="http://emshort.wordpress.com/2011/10/03/if-comp-2011-patanoir-by-simon-christiansen/">Emily Short</a></p>

<p>
  <b>
    "The Baron's daughter is missing, and you are the man to find her. No problem.
    With your inexhaustible arsenal of hard-boiled similes, there is nothing you can't handle."
  </b>
</p>

<p>
  PataNoir is a homage to the classic stories of hard-boiled private investigators with a knack
  for describing everything with complex similes and metaphors. In PataNoir, you solve problems
  by manipulating the hard-boiled metaphors used by the main character to make sense of the world in which he lives.
</p>

<p>
  <b>Features:</b>
</p>
<ul>
  <li>An interactive noir mystery to experience and solve</li>
  <li>Innovative interactive fiction gameplay in which the metaphors you live by become tools to solve the mystery</li>
  <li>Atmospheric illustrations</li>
</ul>

<p>
  The game can currently be played online at the Interactive Fiction Database. An illustrated app version for iOS and Android is in
  production.
</p>

<p><a href="http://ifdb.tads.org/viewgame?id=si9s1jktywxj5vdk"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a></p>
<details>
  <summary><b>Behind the scenes</b></summary>
  <p>
    The idea for PataNoir came to me after learning about Alfred Jarry's
    <a href="http://en.wikipedia.org/wiki/%27Pataphysics">pataphysics</a>, and
    the related concept of the <a href="http://www.pataphor.com/">pataphor</a> &#8212 a metaphor
    that becomes reality. I had long been wanting to make a noir game where hard-boiled metaphors
    would somehow be an essential part of the gameplay, but I couldn't quite figure out how to pull
    this off. I considered having the player select metaphors from a menu, which would then affect how
    the scene played out, but it just didn't go anywhere.
  </p>
  <p>
    The pataphor provided an obvious gameplay mechanic. Manipulating objects is, after all, an essential
    part of most adventure games, so if a metaphor became an object, it could be manipulated like any other.
    Thus, PataNoir was born.
  </p>
  <p>
    The original version of PataNoir took fifth place
    in the 2011 <a href="http://www.ifcomp.org/comp11/">Interactive Fiction Competition</a>, and was later awarded
    the <a href="http://www.xyzzyawards.org">Xyzzy Award</a> for Best Puzzles. It has also been featured
    in <a href="http://pataphormagazine.com">Pataphor Magazine</a>.
  </p>
  <p>The commercial release has been significantly improved and expanded with professional art and a theme song.</p>
</details>