
@{
    ViewBag.Title = "Trapped in Time";
}

<h2>Trapped in Time</h2>

<p><img src="../Images/Watch.jpg" alt="Watch" width="200" height="200"></p>

<p>"Trapped in Time" is an old-school choose-your-own-adventure story, where you make choices by selecting which
    of the numbered sections to read next. It was originally written for publication in an anthology of Danish
    Science Fiction stories, and is available from the
     <a href="http://www.sciencefiction.dk/udgivelser/boger/naer-og-fjern.html">Danish Science Fiction Circle</a>.</p>

<p>The English translation was entered into the 2013 <a href="http://ifcomp.org/comp/2013">Interactive Fiction Competition</a>, where
it took 11th place out of 35. An impressive result for a PDF document entered into a game competition. It went on to
  win the Xyzzy Award for <a href="http://xyzzyawards.org/awards/historical.php?year=2013&round=2">Best Implementation</a>, the following
  spring.</p>

<p>The English translation is available in PDF format at the Interactive Fiction Database.</p>

<p><a href="http://ifdb.tads.org/viewgame?id=juj5b61griyoswn2"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a></p>
