
@{
    ViewBag.Title = "Internal Vigilance";
}

<h2>Internal Vigilance</h2>

<img src="../Images/Agent.png" alt="Agent" width="300" height="300" />

<p>
    <b>
        <em>
            "Internal Vigilance is an extremely thought-provoking game – one where every action and its possible impact
            should be thought through twice." - </em> Sorrel, on IFDB.
    </b>
</p>


<p>
    <b>
        You are informed that a new prisoner was brought in recently. Your job, as usual, is to interrogate him and determine
        whether he poses a threat to The Union. This should not be a problem. You are a trained interrogator.
    </b>
</p>

<p>
    "Internal Vigilance" was my first attempt to create an Interactive Fiction game, and I think it turned out pretty
    well, even though it didn't quite live up to my original vision. It took tenth place
    in <b><a href="http://www.ifcomp.org/comp05">The Interactive Fiction Competition 2005</a></b>, and got mostly decent reviews, but
    also a lot criticism for mediocre grammar and general lack of polish. The second release of the game fixes most of the
    issues with the competition release.
</p>

<p>
    The player is a government agent in a dystopian future state, who is trying to unravel a terrorist organization, and
    starts questioning his loyalties.
</p>

<p>It can be played online at the Interactive Fiction Database.</p>

<p><a href="http://ifdb.tads.org/viewgame?id=354tixox37lzb1mr"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a></p>

