@{
    ViewBag.Title = "Blog";
}
<h2>@ViewBag.Title</h2>

<p>SiChris Productions also runs a blog, featuring reviews of Interactive Fiction games, as well
    as news about SiChris games and other products.</p>

<a class="btn btn-default" href="http://simonsjournal.wordpress.com/">Go to blog &raquo;</a>
