
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<p>
    If you have any questions, please write to <a href="mailto:simon@sichris.com">@ViewBag.Email</a>.
</p>
<p>
    Twitter:  <a href="https://twitter.com/SimonChris1729">SimonChris1729</a>
</p>

