
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<p>
    <div class="ml-embedded" data-form="r6sUQ8"></div>
</p>
<p>
    If you have any questions, please write to <a href="mailto:simon@sichris.com">@ViewBag.Email</a>.
</p>
<p>
    <a rel="me" target="_blank" href=@ViewBag.Threads>Threads</a>
</p>
<p>
    <a rel="me" target="_blank" href=@ViewBag.Bluesky>Bluesky</a>
</p>
<p>
    <a rel="me" target="_blank" href=@ViewBag.Mastodon>Mastodon</a>
</p>

