
@{
    ViewBag.Title = "Contact Juggling";
}

<h2>Contact Juggling</h2>

<p>In addition to game development, SiChris Productions also produces contact juggling videos.</p>

<p>At the SiChris plants, raw industrial strength contact juggling is processed and turned into
    videos suitable for human consumption. Sample videos are available below.</p>

<p>
    If you are in need of contact juggling services, do not hesitate to @Html.ActionLink("contact me", "Contact", "Home").
</p>

<p><iframe width="560" height="315" src="//www.youtube.com/embed/ws9zpEDC1h0" frameborder="0" allowfullscreen></iframe></p>

<p><iframe width="560" height="315" src="//www.youtube.com/embed/XUB6vsM_NTc" frameborder="0" allowfullscreen></iframe></p>