@{
  ViewBag.Title = "SiChris Productions";
}

<div class="jumbotron">
  <h2><b>SiChris Productions</b></h2>
  <p class="lead">
    Purveyor of fine Interactive Fictions. Check out the currently available games below.
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Death off the Cuff</h2>
    <p>
      <img src="../Images/Cuff.png" alt="Death off the Cuff" width="175" height="175">
    </p>
    <p><b>"You are about to reveal the murderer. If only you knew who it was..."</b></p>
    <p>
      Death off the Cuff is an innovative Interactive Fiction game, in which you must bluff your way through the
      traditional revelatory monologue at the end of a crime story.
    </p>
    <p>
      <a href="https://itunes.apple.com/us/app/death-off-the-cuff/id788712929"><img src="../Images/itunes.png" border="0" alt="iTunes" width="110" height="40"></a>
      <a href="https://play.google.com/store/apps/details?id=antiquarian.death"><img src="../Images/googleplay.png" border="0" alt="Google" width="110" height="40"></a>
      <a href="http://www.amazon.com/Simon-Christiansen-Death-off-Cuff/dp/B00EAYRBWW/"><img src="../Images/Amazon.png" border="0" alt="Amazon" width="110" height="40"></a>
      <a href="http://ifdb.tads.org/viewgame?id=hqjjswyesj1gjm7v"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a>
      <a href="http://simonchris.itch.io/death-off-the-cuff"><img src="../Images/Itch.png" border="0" alt="itch.io" width="110" height="40"></a>
      <a class="btn btn-default" href="@Url.Action("Cuff", "Games")">Learn more &raquo;</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>PataNoir</h2>
    <p><img src="../Images/PataNoirRounded.png" alt="PataNoir" width="225" height="175"></p>
    <p>
      <b>
        "The Baron's daughter is missing, and you are the man to find her. No problem.
        With your inexhaustible arsenal of hard-boiled similes, there is nothing you can't handle."
      </b>
    </p>
    <p>
      In PataNoir, you solve crime by manipulating the hard-boiled metaphors used by the main character
      to make sense of the world in which he lives.
    </p>
    <p>
      <a href="https://itunes.apple.com/us/app/patanoir/id987561337"><img src="../Images/itunes.png" border="0" alt="iTunes" width="110" height="40"></a>
      <a href="https://play.google.com/store/apps/details?id=sichris.patanoir"><img src="../Images/googleplay.png" border="0" alt="Google" width="110" height="40"></a>
      <a href="http://www.amazon.com/Simon-Christiansen-PataNoir/dp/B0153OY5K8/"><img src="../Images/Amazon.png" border="0" alt="Amazon" width="110" height="40"></a>
      <a href="http://ifdb.tads.org/viewgame?id=si9s1jktywxj5vdk"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a>
      <a href="http://simonchris.itch.io/patanoir"><img src="../Images/Itch.png" border="0" alt="itch.io" width="110" height="40"></a>
      <a class="btn btn-default" href="@Url.Action("PataNoir", "Games")">Learn more &raquo;</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>AlethiCorp</h2>
    <p><img src="../Images/AlethiCorp.png" alt="AlethiCorp" width="175" height="175"></p>
    <p>
      <b>
        "Do you have what it takes to be an Associate Information Management Consultant with one of the world's largest information management companies?"
      </b>
    </p>
    <p>
      AlethiCorp simulates the experience of working for a private surveillance corporation. Log in and apply for a job!
    </p>
    <p>
      <a href="http://ifdb.tads.org/viewgame?id=ixlz4gj9cag89mtj"><img src="../Images/ifdb.png" border="0" alt="IFDB" width="110" height="40"></a>
      <a href="http://simonchris.itch.io/alethicorp"><img src="../Images/Itch.png" border="0" alt="itch.io" width="110" height="40"></a>
      <a class="btn btn-default" href="@Url.Action("AlethiCorp", "Games")">Learn more &raquo;</a>
      <a class="btn btn-default" href="http://www.alethicorp.com">Play game &raquo;</a>
    </p>
  </div>
</div>
