@{
    ViewBag.Title = "Support";
}
<h2>@ViewBag.Title</h2>

<p>
    Known issues with SiChris games will be listed below. If you need more assistance, please
    @Html.ActionLink("contact me", "Contact", "Home").
</p>

<h3>PC</h3>

<p>
    If the music video refuses to play, ensure that Windows Media Player is installed on your system.
</p>