@{
    ViewBag.Title = "Support";
}
<h2>@ViewBag.Title</h2>

<p>
    Known issues with SiChris games will be listed below. If you need more assistance, please
    @Html.ActionLink("contact us", "Contact", "Home").
</p>

<h3>iOS</h3>

<p>No known issues have been reported for iOS games.</p>

<h3>Android</h3>

<p>
    There is an issue with the custom keyboard on some phone models not working with the games.
    This can be fixed by either switching to the standard Android keyboard in <b>Settings: Language and Input</b>, or
    downloading the <b>Swype Keyboard</b> from Google Play.
</p>